.imgPoke {
  height: 310px;
}

.data2 {
  color: rgb(0, 0, 0);
  display: inline-block;
  font-family: "VT323", monospace;
  font-size: 20px;
  margin-top: -12px;
}

.containerDetail {
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  width: 500px;
  border-radius: 20px;
  box-shadow: 4px 2px 15px;
  border: 5px solid black;
}
.idP {
  color: rgb(0, 0, 0);
}
.buttonVolver {
  background-color: #f93433;
  font-family: "VT323", monospace;
  color: rgb(0, 0, 0);
  font-size: 15px;
}
.backgroundCard {
  display: flex;
  justify-content: center;
}
